annotated-types
anyio	
certifi	
charset-normalizer	
colorama
distro	
exceptiongroup	
h11	
httpcore
httpx	
idna	
jiter	
markdown
openai		
pip	
pydantic	
pydantic-core	
pyqt5
pyqt5-qt5	
pyqt5-sip
pyqt5-stubs	
requests		
setuptools			
sniffio	
tqdm		
typing-extensions		
typing-inspection	
urllib3	
wheel